<app-header-nav></app-header-nav>
<div class="EditJournalContainer container border border-dark mb-3" *ngFor="let data of journal$|async">
    <div class="EditJournalHeader container d-flex flex-row  justify-content-between p-3 border-bottom border-dark">
        <p class="fs-1 fw-bold">Vista de Revista:</p>
    </div>
    <div class="row infoUserBanContent container d-flex p-3">
        <p class="p-1 fs-2 fw-bold">Informacion de la Revista: </p>
        <div class="d-flex flex-nowrap bd-highlight">
        <p class="p-1 fw-bold">Id Revista:</p>
        <p class="p-1">{{data.id}}</p>
        </div>
        <div class="d-flex flex-nowrap bd-highlight">
        <p class="p-1 fw-bold">Marca de Revista: </p>
        <p class="p-1 ">{{data.titulo}}</p>
        </div>
        <div class="d-flex flex-nowrap bd-highlight">
        <p class="p-1 fw-bold">Titular: </p>
        <p class="p-1 ">{{data.titular}}</p>
        </div>
        <div class="d-flex flex-nowrap bd-highlight">
            <p class="p-1 fw-bold">Numero de Volumen: </p>
            <p class="p-1 ">{{data.num_volumen}}</p>
        </div>
        <div class="d-flex flex-nowrap bd-highlight">
            <p class="p-1 fw-bold">Numero de Revista: </p>
            <p class="p-1 ">{{data.num_revista}}</p>
        </div>
        <div class="d-flex flex-nowrap bd-highlight">
            <p class="p-1 fw-bold">Fecha de Publicacion: </p>
            <p class="p-1 " ng-non-bindable>{{data.fecha_publicacion | date:'dd-MM-yyyy'}}</p>
        </div>
        <div class="d-flex flex-nowrap bd-highlight">
            <p class="p-1 fw-bold">Cantidad en Biblioteca: </p>
            <p class="p-1 ">{{data.cantidad}}</p>
        </div>
        <div class="d-flex flex-nowrap bd-highlight">
            <p class="p-1 fw-bold">Cantidad Disponible: </p>
            <p class="p-1 ">{{data.cantidad_disponible}}</p>
        </div>

        <div class="d-flex flex-nowrap bd-highlight">
            <p class="pe-1 fw-bold">Link de referencia o pdf de Revista:</p>
            <textarea class="p-1 w-50" id="" cols="20" rows="2" disabled>{{data.link_pdf_ref}}</textarea>
        </div>
    </div>
        
    <div class="d-flex flex-row justify-content-evenly m-5">
        <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target='#UpdateModal'>Actualizar Revista</button></td>
        <div  class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <app-update-journal
        [attr.id]="data.id"
        [id]="data.id"
        [ReloadData]="ReloadData.bind(this)"
        ></app-update-journal>
        </div>
        <button class="btn btn-danger" (click)="deleteJournal(data.id)">Eliminar Revista</button>
    </div>
    
</div>
<!---

<td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target='#UpdateModal' (click)="updateOn=true">Actualizar Revista</button></td>
<div  class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<app-update-journal
[attr.id]="data.id"
[id]="data.id"></app-update-journal>
</div>

-->